* {
    outline: 0;
    font-family: 'Cabin', sans-serif;
}

.alert {
    z-index: 100;
    position: absolute;
}

.no-gutter > [class*='col-'] {
    padding-right:0 !important;
    padding-left:0 !important;
}

#my-form {
    padding-top: 20px;
    padding-bottom: 20px;
}

#my-text-input {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #CCC;
    box-shadow: none;

}

.message-container {
    overflow-y: scroll;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
}

.message-wrapper {
    padding: 2px 0 2px 0;
    word-wrap: break-word;

}

.my-button {
    width: 100px;
    border-radius: 0;
    border: 0;
    background-color: #f07e14;
}

#send-button {
    float: right;
}

#fetch-button {

}

#my-button:hover {

}

#loading-icon {
    margin-top: 150px;
    width: 50px;
}