
<div class="row">
	<div class="col-xs-12">
		<div class="col-xs-6 col-xs-offset-3 panel panel-default">
			<div class="row">
				<form class="form" ng-submit="send()">
					<div class="col-xs-8">
						<input type="text" class="form-control" name="message" ng-model="myForm.message" placeholder="Save the world">
					</div>
					<div class="col-xs-4">
						<button type="submit" class="btn btn-default" ng-disabled="disabled">Contribute!</button>
					</div>
				</form>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div ng-repeat="message in messages">
						<b>{{ message }}</b>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>